
*{
    color: antiquewhite;
    
}

:root{
    --mainColor : #30305a;
}

body{
    margin: 0;
    background-color: rgb(28, 28, 36);
}

header{
    background-color: rgb(18, 18, 24);
    margin-bottom: 25px;
    padding: 10px 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

img{
    width: 48px;
    height: 48px;
    transform: translateY(1px);
    border-radius: 25px;
}

h4{
    text-align: center;
}

.SampleDiv{
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: center;
    background-color: rgb(38, 38, 48);
    padding: 8px;
    border-radius: 15px;
    width: 360px;
    height: 80vh;
}

.sampleHeader{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.social{
    border-color: transparent;
    border-radius: 25px;
    background-color: rgb(18, 18, 24);
}

.code{
    background-color: rgb(65, 70, 75);
    border-width: 2px;
    border-radius: 15px;
    overflow: scroll;
    height: fit-content;
    max-height: 30vh;
    width: 90%;
    padding: 20px 10px;
}

.btnHoverTran{
    color: whitesmoke;
    text-align: center;
    position: relative;
    align-self: center;
    width: 80px;
    height: 48px;
    border-width: 3px;
    font-weight: bolder;
    border-radius: 15px;
    margin-bottom: 10px;

    transform: translateY(0%);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    background-color: var(--mainColor);
    border-color: slateblue;
    transition: all 1s;
}

.btnHoverTran:hover{
    border-width: 3px;
    border-color: var(--mainColor);
    background-color: slateblue;
    transform: translateY(-5px);
}

.btnFocusTran{
    color: whitesmoke;
    text-align: center;
    position: relative;
    align-self: center;
    width: 80px;
    height: 48px;
    border-width: 3px;
    font-weight: bolder;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);

    
    transform: translateY(0%);
    background-color: var(--mainColor);
    border-color: slateblue;
    transition: all 1s;
}

.btnFocusTran:focus{
    transform: translateY(-5px);   
    background-color: slateblue;
    border-color: var(--mainColor);
}


.animBg{
    width: 240px;
    height: 64px;
    background-color: #242431;
    border-radius: 25px;
    border: 2px solid blueviolet;
}

@keyframes loadingAnimation {
    0% {
        width: 0px;
        transform: translateX(0px);
        border-color: blueviolet;
    }
    50% {
        width: 30px;
    }
    100%{
        width: 0px;
        transform: translateX(208px);
        border-color: violet;
    }
}

.loadingAnim,
.loadingAnim2
{
    width: 0px;
    height: 0px;
    border: 16px solid blueviolet;
    border-radius: 25px;

    animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.loadingAnim2{
    animation-direction: alternate-reverse;
}